@using CarrerCloudV2.Models;
@model SearchModel
@{ 
    ViewBag.Title = "Home Page";
}



    <div class="container">

            
 
                    
                    <div class="job-search-form">
                        @using (Html.BeginForm(actionName:"Search",controllerName:"CompanyJob"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-5 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <p>what</p>
                                        <input name="keyword" id="keyword" class="form-control" type="text" placeholder="job title, keywords, or company">
                                        
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-6 col-xs-12">
                                    <p>where</p>
                                    <div class="form-group">
                                        <input name="city_province" class="form-control" type="text" placeholder="city or province">
                                    </div>
                                </div>


                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    <p>go</p>
                                    <div class="form-group">


                                        <input type="submit" value="Find Jobs" class="btn btn-outline-primary" />
                                    </div>
                                </div>
                                </div>

                        }
                    </div>
            
  
    </div>

